* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --color-light-700: #ffffff;
    --color-light-500: #f9f9f9;
    --color-light-300: #cccccc;
    --gradient: linear-gradient(45deg,
            hsl(240deg 19% 17%) 0%,
            hsl(284deg 16% 21%) 9%,
            hsl(326deg 17% 26%) 33%,
            hsl(348deg 19% 33%) 62%,
            hsl(7deg 19% 38%) 80%,
            hsl(21deg 22% 41%) 90%,
            hsl(35deg 20% 44%) 96%,
            hsl(55deg 15% 47%) 100%);
}

html {
    font-size: 62.5%;
    
}

body {
    font-size: 1.6rem;
    font-family: calibri;
    background-color: var(--color-light-500);
}

header {
    text-align: center;
    padding: 3rem 0;
    background-color: var(--color-light-700);
    border-bottom: 1px solid var(--color-light-300);
}

main {
    max-width: 132rem;
    margin: 2rem auto;

}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.product-item {
    background-image: var(--gradient);
    color: var(--color-light-700);
    border-radius: 5px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.product-item img {
    max-width: 70%;
    margin: 1rem 0;
    transition: scale .5s;
}

.product-item img:hover {
    scale: 1.2;
    cursor: pointer;

}

.product-item div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}

.product-item p {
    font-weight: 600;
    font-size: 2rem;
    
}

footer {
    text-align: center;
    padding: 3rem 0;
    margin: 3rem;
    background-color: var(--color-light-700);
    border-top: 1px solid var(--color-light-300);
}

.span-row-2{
    grid-row: span 2;
}

.span-col-2{
    grid-column: span 2;
}

@media(width <= 1024px){
    .product-grid {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }
    .span-col-2{
        grid-column: span 1;
    }
}
@media(width <= 660px){
    .product-grid {
        grid-template-columns: 1fr;
    }
}